*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: open sans, sans-serif;
  font-size: 16px;
}
:root {
  --clr-blue: #badefc;
  --clr-lightblue: #ebf6fe;
  --clr-red: #b5446e;
  --font-clr: #525252;
  --font-clr-light: #ababab;
}
body {
  margin: 0;
  background-color: var(--clr-lightblue);
}

header {
  display: flex;
  padding: 4rem 1rem;
  border-bottom: 2px solid var(--clr-red);
  background-color: white;
}
button {
  cursor: pointer;
}
header > h1 {
  color: var(--clr-red);
  margin-left: 2rem;
  margin-right: auto;
}

header > button {
  padding: 0.5rem 0.75rem;
  margin: 0.25rem;
  border-radius: 10px;
  font-size: large;
}
#btn-all-books {
  background-color: var(--clr-lightblue);
  border: none;
}
#btn-favorites {
  border-color: var(--clr-red);
  background-color: white;
}

#book-container {
  padding: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  /* gap: 1.5rem; */
}

#single-book {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  width: 30rem;
  margin: 1.25rem;
}

#single-book > button {
  padding: 0.25rem 0.75rem;
  margin: 0.25 0rem;
  border-radius: 4px;
  border-color: var(--clr-red);
  color: var(--clr-red);
  background-color: white;
  font-weight: bold;
  margin-top: 0.75rem;
}
#single-book > h2 > a {
  color: var(--clr-red);
  text-decoration: none;
}

#single-book > p {
  color: var(--font-clr-light);
  margin-top: 0.5rem;
}

.favorites {
  color: white;
  background-color: var(--clr-red);
}
